Repository osl-incubator/retsu: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, bandit, vulture, mccabe

.pre-commit-config.yaml:

default_stages:
  - commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer

  - repo: local
    hooks:
      # NOTE: This is a total unnecessary check, just used as part of the
      #       template. Remove this after creating the template.
      - id: check-python
        name: check-python
        entry: python --version
        language: system
        pass_filenames: no

      - id: ruff
        name: ruff
        entry: ruff --fix
        language: system
        pass_filenames: true
        require_serial: yes
        files: "./"
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        files: "src/retsu"
        pass_filenames: true
        types:
          - python

      - id: bandit
        name: bandit
        entry: bandit
        language: system
        args: ["--configfile", "pyproject.toml", "-iii", "-lll"]
        pass_filenames: true
        types:
          - python

      - id: vulture
        name: vulture
        entry: vulture
        language: system
        files: "src/retsu"
        description: Find unused Python code.
        pass_filenames: true
        types:
          - python

      - id: mccabe
        name: mccabe
        entry: python -m mccabe --min 10
        language: system
        files: "src/retsu"
        pass_filenames: true
        types:
          - python

improve mkdocs config
  mkdocs.yaml
  scripts/gen_ref_nav.py
Due: ruff, bandit

add poetry lock
  poetry.lock
Due: none

Initial from scicookie 20240523205436 (#1)
  .editorconfig
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/main.yaml
  .github/workflows/release.yaml
  .gitignore
  .makim.yaml
  .pre-commit-config.yaml
  .releaserc.json
  CODE_OF_CONDUCT.md
  LICENSE
  README.md
  conda/dev.yaml
  docs/api/references.md
  docs/changelog.md
  docs/contributing.md
  docs/example.ipynb
  docs/images/favicon.ico
  docs/images/logo.png
  docs/index.md
  docs/installation.md
  mkdocs.yaml
  poetry.lock
  pyproject.toml
  scripts/gen_ref_nav.py
  src/retsu/__init__.py
  src/retsu/py.typed
  src/retsu/retsu.py
  tests/__init__.py
  tests/test_main.py
Due: ruff, mypy, bandit, vulture, mccabe

feat: add classes for tasks
  LICENSE
  example/__init__.py
  example/app.py
  example/settings.py
  example/tasks.py
  poetry.lock
  pyproject.toml
  src/retsu/__init__.py
  src/retsu/core.py
  src/retsu/retsu.py
Due: ruff, mypy, bandit, vulture, mccabe

add terminate method
  example/.gitignore
  example/app.py
  example/tasks.py
  src/retsu/core.py
Due: ruff, mypy, bandit, vulture, mccabe

add terminate method
  example/tasks.py
Due: ruff, bandit

Add initial code for parallel process
  example/app.py
  example/tasks.py
  src/retsu/__init__.py
  src/retsu/core.py
Due: ruff, mypy, bandit, vulture, mccabe

add containers and celery as dep
  .sugar.yaml
  containers/celery/Dockerfile
  containers/celery/scripts/entrypoint.sh
  containers/compose.yaml
  poetry.lock
  pyproject.toml
Due: none

wip adding support for celery
  .pre-commit-config.yaml
  .sugar.yaml
  containers/compose.yaml
  example/tasks.py
  poetry.lock
  pyproject.toml
  src/retsu/celery.py
  src/retsu/core.py
Due: ruff, mypy, bandit, vulture, mccabe

Add initial support for celery
  poetry.lock
  pyproject.toml
  src/retsu/celery.py
  src/retsu/core.py
  src/retsu/plugins/__init__.py
  src/retsu/plugins/django.py
Due: ruff, mypy, bandit, vulture, mccabe

fixing issues with stop method
  example/app.py
  example/tasks.py
  src/retsu/__init__.py
  src/retsu/celery.py
  src/retsu/core.py
Due: ruff, mypy, bandit, vulture, mccabe

fixing formatting issues with ruff
  .pre-commit-config.yaml
  example/app.py
  example/tasks.py
  src/retsu/__init__.py
  src/retsu/celery.py
  src/retsu/core.py
  src/retsu/plugins/django.py
  tests/test_main.py
Due: ruff, mypy, bandit, vulture, mccabe

fixing formatting issues with ruff
  .pre-commit-config.yaml
  example/app.py
  example/tasks.py
  pyproject.toml
  src/retsu/celery.py
  src/retsu/core.py
  src/retsu/plugins/django.py
Due: ruff, mypy, bandit, vulture, mccabe

fixing formatting issues with ruff
  example/__init__.py
  example/app.py
  example/settings.py
  example/tasks.py
  src/retsu/core.py
  src/retsu/plugins/django.py
Due: ruff, mypy, bandit, vulture, mccabe

attempt of fix issues with signal handler
  example/app.py
  example/tasks.py
  src/retsu/__init__.py
  src/retsu/celery.py
Due: ruff, mypy, bandit, vulture, mccabe

attempt of fix issues with signal handler
  example/tasks.py
  src/retsu/__init__.py
  src/retsu/celery.py
Due: ruff, mypy, bandit, vulture, mccabe

fix issues pointed by ruff
  .pre-commit-config.yaml
  src/retsu/celery.py
  src/retsu/core.py
  src/retsu/plugins/__init__.py
  src/retsu/plugins/django.py
Due: ruff, mypy, bandit, vulture, mccabe

fix last issues with typing
  example/app.py
  example/tasks.py
  poetry.lock
  pyproject.toml
  src/retsu/celery.py
  src/retsu/core.py
  src/retsu/plugins/django.py
  tests/test_main.py
Due: ruff, mypy, bandit, vulture, mccabe

fix small issues
  example/app.py
  example/tasks.py
  src/retsu/celery.py
Due: ruff, mypy, bandit, vulture, mccabe

feat: add classes for task, task manager, and celery tasks (#2)
  .pre-commit-config.yaml
  .sugar.yaml
  LICENSE
  containers/celery/Dockerfile
  containers/celery/scripts/entrypoint.sh
  containers/compose.yaml
  example/.gitignore
  example/__init__.py
  example/app.py
  example/settings.py
  example/tasks.py
  poetry.lock
  pyproject.toml
  src/retsu/__init__.py
  src/retsu/celery.py
  src/retsu/core.py
  src/retsu/plugins/__init__.py
  src/retsu/plugins/django.py
  src/retsu/retsu.py
  tests/test_main.py
Due: ruff, mypy, bandit, vulture, mccabe

fix: Fix documentation build
  poetry.lock
  pyproject.toml
  scripts/gen_ref_nav.py
Due: ruff, bandit

add workflow for documentation
  .github/workflows/docs.yaml
Due: none

fix: Fix documentation build step (#3)
  .github/workflows/docs.yaml
  poetry.lock
  pyproject.toml
  scripts/gen_ref_nav.py
Due: ruff, bandit

fix: Fix issue with semantic-release version pattern
  pyproject.toml
Due: none

fix issues with paginate
  conda/dev.yaml
Due: none

fix: Fix issue with semantic-release version pattern (#4)
  conda/dev.yaml
  pyproject.toml
Due: none

chore(release): 0.0.2
  docs/changelog.md
  pyproject.toml
  src/retsu/__init__.py
Due: ruff, mypy, bandit, vulture, mccabe

Notes added by 'git notes add'
  03b69541c1bb21aa45fd1cabc9656832d38dbab0
Due: none

fix issues with ruff
  example/tasks.py
  example/tasks/__init__.py
  example/tasks/app.py
  example/tasks/config.py
  example/tasks/parallel.py
  example/tasks/serial.py
  pyproject.toml
  src/retsu/core.py
Due: ruff, mypy, bandit, vulture, mccabe

fix issues with mypy
  src/retsu/core.py
Due: ruff, mypy, bandit, vulture, mccabe

fix final issues
  .makim.yaml
  example/tasks/__init__.py
  example/tasks/app.py
  example/tasks/parallel.py
  example/tasks/serial.py
  src/retsu/core.py
Due: ruff, mypy, bandit, vulture, mccabe

fix: Fix initial issues with the structure and the example (#5)
  .makim.yaml
  example/tasks.py
  example/tasks/__init__.py
  example/tasks/app.py
  example/tasks/config.py
  example/tasks/parallel.py
  example/tasks/serial.py
  pyproject.toml
  src/retsu/core.py
Due: ruff, mypy, bandit, vulture, mccabe

fix: wait for the celery task until the end of the execution.
  src/retsu/celery.py
Due: ruff, mypy, bandit, vulture, mccabe

fix: wait for the celery task until the end of the execution. (#6)
  src/retsu/celery.py
Due: ruff, mypy, bandit, vulture, mccabe

chore(release): 0.0.3
  docs/changelog.md
  pyproject.toml
  src/retsu/__init__.py
Due: ruff, mypy, bandit, vulture, mccabe

Notes added by 'git notes add'
  635f96b5ced3146369edfef3952d3acec2ca894a
Due: none

deploy: f1ba5865f3bd115e978b8b0b9ccfc8639d34983a
  api/celery/index.html
  api/core/index.html
  api/index.html
  api/references/index.html
  changelog/changelog.md
  changelog/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: Improve the task metadata handling
  src/retsu/__init__.py
  src/retsu/core.py
  src/retsu/tracking.py
  tests/test_main.py
  tests/test_task_serial.py
Due: ruff, mypy, bandit, vulture, mccabe

fix tests workflow
  .github/workflows/main.yaml
  tests/test_task_serial.py
Due: ruff, bandit
