Repository osl-incubator/retsu: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff format, ruff check, mypy, bandit, vulture, mccabe

.pre-commit-config.yaml:

default_stages:
  - commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff format
        name: ruff format
        entry: ruff format
        language: system
        pass_filenames: true
        require_serial: yes
        files: "./"
        types:
          - python

      - id: ruff check
        name: ruff check
        entry: ruff check
        language: system
        pass_filenames: true
        require_serial: yes
        files: "./"
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        files: "src/retsu"
        pass_filenames: true
        types:
          - python

      - id: bandit
        name: bandit
        entry: bandit
        language: system
        args: ["--configfile", "pyproject.toml", "-iii", "-lll"]
        pass_filenames: true
        types:
          - python

      - id: vulture
        name: vulture
        entry: vulture
        language: system
        files: "src/retsu"
        description: Find unused Python code.
        pass_filenames: true
        types:
          - python

      - id: mccabe
        name: mccabe
        entry: python -m mccabe --min 10
        language: system
        files: "src/retsu"
        pass_filenames: true
        types:
          - python

Move all content to serial structure
  examples/redis_queue_gathering_serial_task/__init__.py
  examples/redis_queue_gathering_serial_task/tasks/__init__.py
  examples/redis_queue_gathering_serial_task/tasks/app.py
  examples/redis_queue_gathering_serial_task/tasks/config.py
  examples/redis_queue_gathering_serial_task/tasks/serial.py
Due: ruff format, ruff check, bandit

refactor: Update retsu function names
  examples/redis_queue_gathering_serial_task/app.py
  examples/redis_queue_gathering_serial_task/tasks/__init__.py
  examples/redis_queue_gathering_serial_task/tasks/get_back_process.py
  examples/redis_queue_gathering_serial_task/tasks/get_max_article.py
Due: ruff format, ruff check, bandit

fix: Force process termination
  src/retsu/core.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

fix: Force process termination (#14)
  src/retsu/core.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

chore(release): 0.2.1
  docs/changelog.md
  pyproject.toml
  src/retsu/__init__.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

Notes added by 'git notes add'
  ac8fe4e33e5bf99944cc2ab7b0335f8255ddcb66
Due: none

deploy: 0e4f08858ad17642338648bc123749259b3e06b8
  api/celery/index.html
  api/core/index.html
  api/index.html
  api/references/index.html
  changelog/changelog.md
  changelog/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

refactoring
  examples/redis_queue_between_tasks/tasks/__init__.py
  pyproject.toml
  src/retsu/__init__.py
  src/retsu/celery.py
  src/retsu/core.py
  src/retsu/results.py
  tests/celery_tasks.py
  tests/test_task_celery_parallel.py
  tests/test_task_celery_serial.py
  tests/test_task_parallel.py
  tests/test_task_serial.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

refactor: Rename classes
  examples/redis_queue_between_tasks/app.py
  src/retsu/core.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

fix: Fix stopping workflow and refactor (#15)
  examples/redis_queue_between_tasks/app.py
  examples/redis_queue_between_tasks/tasks/__init__.py
  pyproject.toml
  src/retsu/__init__.py
  src/retsu/celery.py
  src/retsu/core.py
  src/retsu/results.py
  tests/celery_tasks.py
  tests/test_task_celery_parallel.py
  tests/test_task_celery_serial.py
  tests/test_task_parallel.py
  tests/test_task_serial.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

chore(release): 0.2.2
  docs/changelog.md
  pyproject.toml
  src/retsu/__init__.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

Notes added by 'git notes add'
  4454afed0852dbb1582068a6d2eccd545b59bf6a
Due: none

deploy: 5ab8f9b8d1ce53a77572398f09f0164d90a3b2f8
  api/celery/index.html
  api/core/index.html
  api/index.html
  api/references/index.html
  api/results/index.html
  changelog/changelog.md
  changelog/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: Rename create_tasks to setup_processes
  src/retsu/core.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

fix: Fix funtion names and fix minor issues
  .makim.yaml
  examples/redis_queue_between_tasks/README.md
  examples/redis_queue_between_tasks/app.py
  src/retsu/celery.py
  src/retsu/core.py
  src/retsu/plugins/django.py
  src/retsu/results.py
  tests/test_task_celery_parallel.py
  tests/test_task_celery_serial.py
  tests/test_task_parallel.py
  tests/test_task_serial.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

rename create_tasks to create_processes
  src/retsu/core.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

fix: Fix function names and fix minor issues (#17)
  .makim.yaml
  examples/redis_queue_between_tasks/README.md
  examples/redis_queue_between_tasks/app.py
  src/retsu/celery.py
  src/retsu/core.py
  src/retsu/plugins/django.py
  src/retsu/results.py
  tests/test_task_celery_parallel.py
  tests/test_task_celery_serial.py
  tests/test_task_parallel.py
  tests/test_task_serial.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

chore(release): 0.2.3
  docs/changelog.md
  pyproject.toml
  src/retsu/__init__.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

Notes added by 'git notes add'
  148677774d392113abc9d065aabf4aa9a2c44518
Due: none

deploy: f4cf368837450cfd95d7554cf75635f5421342d0
  api/celery/index.html
  api/core/index.html
  api/index.html
  api/plugins/django/index.html
  api/references/index.html
  api/results/index.html
  changelog/changelog.md
  changelog/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: Fix __del__ and rename create_processes to setup
  src/retsu/core.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

fix: Fix __del__ and rename create_processes to setup (#18)
  src/retsu/core.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

chore(release): 0.2.4
  docs/changelog.md
  pyproject.toml
  src/retsu/__init__.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

Notes added by 'git notes add'
  a8da88f8751e690e0b3ccaac5ee1d9e38bd62d12
Due: none

deploy: c4654d77623477bbae0b86b0cb841bd8595593fb
  api/celery/index.html
  api/core/index.html
  api/index.html
  api/references/index.html
  changelog/changelog.md
  changelog/index.html
  objects.inv
  search/search_index.json
Due: none

feat: Add initial support for async processes
  poetry.lock
  pyproject.toml
  src/retsu/asyncio/__init__.py
  src/retsu/asyncio/celery.py
  src/retsu/asyncio/core.py
  src/retsu/asyncio/queues.py
  src/retsu/asyncio/results.py
  src/retsu/queues.py
  tests/test_task_celery_async.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

exclude asyncio from mypy check for now
  pyproject.toml
  tests/test_task_celery_async.py
Due: ruff format, ruff check, bandit

feat: Add initial support for async processes (#19)
  poetry.lock
  pyproject.toml
  src/retsu/asyncio/__init__.py
  src/retsu/asyncio/celery.py
  src/retsu/asyncio/core.py
  src/retsu/asyncio/queues.py
  src/retsu/asyncio/results.py
  src/retsu/queues.py
  tests/test_task_celery_async.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

feat: Add wrap-up decorator for managing celery tasks
  src/retsu/celery.py
  src/retsu/core.py
  tests/celery_tasks.py
  tests/conftest.py
  tests/test_task_celery_wrapup.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

fix tests
  tests/test_task_celery_wrapup.py
Due: ruff format, ruff check, bandit

add sequencial semaphore
  src/retsu/celery.py
  src/retsu/core.py
  tests/celery_tasks.py
  tests/conftest.py
  tests/test_task_celery_wrapup.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

add sequencial semaphore latest version
  src/retsu/core.py
  tests/test_task_celery_wrapup.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

feat: Add wrap-up decorator for managing celery tasks (#20)
  src/retsu/celery.py
  src/retsu/core.py
  tests/celery_tasks.py
  tests/conftest.py
  tests/test_task_celery_wrapup.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

chore(release): 0.3.0
  docs/changelog.md
  pyproject.toml
  src/retsu/__init__.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

Notes added by 'git notes add'
  70f5cd58bc07795b59e66fd2a2432b7a14c02121
Due: none

deploy: 41c6fb37a19c376b010aae13c22f1ac43cbd80fe
  404.html
  api/SUMMARY/SUMMARY.md
  api/asyncio/celery/celery.md
  api/asyncio/celery/index.html
  api/asyncio/core/core.md
  api/asyncio/core/index.html
  api/asyncio/index.html
  api/asyncio/index.md
  api/asyncio/queues/index.html
  api/asyncio/queues/queues.md
  api/asyncio/results/index.html
  api/asyncio/results/results.md
  api/core/index.html
  api/index.html
  api/plugins/django/index.html
  api/plugins/index.html
  api/queues/index.html
  api/references/index.html
  changelog/changelog.md
  changelog/index.html
  contributing/index.html
  example/index.html
  index.html
  installation/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

feat: Change retsu structure to work on top of backend
  .gitignore
  .makim.yaml
  conda/dev.yaml
  poetry.lock
  pyproject.toml
  src/retsu/__init__.py
  src/retsu/backends/__init__.py
  src/retsu/backends/base.py
  src/retsu/backends/memory.py
  src/retsu/backends/redis.py
  src/retsu/cli/__init__.py
  src/retsu/cli/main.py
  src/retsu/config.py
  src/retsu/exceptions.py
  src/retsu/executors/__init__.py
  src/retsu/executors/base.py
  src/retsu/executors/local.py
  src/retsu/executors/ray.py
  src/retsu/integrations/__init__.py
  src/retsu/integrations/celery.py
  src/retsu/integrations/ray.py
  src/retsu/leases.py
  src/retsu/resources.py
  src/retsu/scheduler.py
  src/retsu/state.py
  src/retsu/task.py
  tests/conftest.py
  tests/test_core.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

add ray as optional dep
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/retsu/backends/__init__.py
  src/retsu/backends/base.py
  src/retsu/backends/memory.py
  src/retsu/backends/redis.py
  src/retsu/cli/__init__.py
  src/retsu/cli/main.py
  src/retsu/executors/__init__.py
  src/retsu/executors/base.py
  src/retsu/executors/local.py
  src/retsu/executors/ray.py
  src/retsu/integrations/__init__.py
  src/retsu/integrations/celery.py
  src/retsu/integrations/ray.py
  src/retsu/leases.py
  src/retsu/resources.py
  src/retsu/state.py
  src/retsu/task.py
  tests/test_core.py
  tests/test_task_celery_async.py
  tests/test_task_celery_parallel.py
  tests/test_task_celery_serial.py
  tests/test_task_parallel.py
  tests/test_task_serial.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

tests: Improve container stack for tests
  .makim.yaml
  .sugar.yaml
  containers/compose.yaml
Due: none

update docs
  .gitignore
  .makim.yaml
  .sugar.yaml
  _quarto.yml
  docs/api/references.md
  docs/index.md
  mkdocs.yaml
  poetry.lock
  pyproject.toml
  scripts/gen_ref_nav.py
Due: ruff format, ruff check, bandit
