Repository osl-incubator/retsu: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff format, ruff check, mypy, bandit, vulture, mccabe

.pre-commit-config.yaml:

default_stages:
  - commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: ruff format
        name: ruff format
        entry: ruff format
        language: system
        pass_filenames: true
        require_serial: yes
        files: "./"
        types:
          - python

      - id: ruff check
        name: ruff check
        entry: ruff check
        language: system
        pass_filenames: true
        require_serial: yes
        files: "./"
        types:
          - python

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        files: "src/retsu"
        pass_filenames: true
        types:
          - python

      - id: bandit
        name: bandit
        entry: bandit
        language: system
        args: ["--configfile", "pyproject.toml", "-iii", "-lll"]
        pass_filenames: true
        types:
          - python

      - id: vulture
        name: vulture
        entry: vulture
        language: system
        files: "src/retsu"
        description: Find unused Python code.
        pass_filenames: true
        types:
          - python

      - id: mccabe
        name: mccabe
        entry: python -m mccabe --min 10
        language: system
        files: "src/retsu"
        pass_filenames: true
        types:
          - python

fix issues pointed by ruff.
  src/retsu/tracking.py
  tests/test_task_serial.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

fix issues pointed by mypy
  poetry.lock
  pyproject.toml
  src/retsu/__init__.py
  src/retsu/tracking.py
  tests/test_task_serial.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

Add tests for parallel tasks
  tests/test_task_parallel.py
Due: ruff format, ruff check, bandit

Add initial test for celery tasks
  .github/workflows/main.yaml
  .makim.yaml
  tests/celery_tasks.py
  tests/conftest.py
  tests/test_task_celery_serial.py
Due: ruff format, ruff check, bandit

Add initial structure for testing with celery
  example/tasks/config.py
  src/retsu/celery.py
  tests/celery_tasks.py
  tests/test_task_celery_serial.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

fix initial issues with the celery tasks
  .github/workflows/main.yaml
  src/retsu/celery.py
  src/retsu/core.py
  tests/conftest.py
  tests/test_task_celery_serial.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

fix issues with celery tasks
  tests/conftest.py
  tests/test_task_celery_serial.py
Due: ruff format, ruff check, bandit

fix: Improve the task metadata handling (#7)
  .github/workflows/main.yaml
  .makim.yaml
  poetry.lock
  pyproject.toml
  src/retsu/__init__.py
  src/retsu/celery.py
  src/retsu/core.py
  src/retsu/tracking.py
  tests/celery_tasks.py
  tests/conftest.py
  tests/test_main.py
  tests/test_task_celery_serial.py
  tests/test_task_parallel.py
  tests/test_task_serial.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

chore(release): 0.0.4
  docs/changelog.md
  pyproject.toml
  src/retsu/__init__.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

Notes added by 'git notes add'
  0b4481c7141816c617ef812fdcf379a1ca11cbea
Due: none

deploy: 476e0b444e89d87203e3b1964e4ba091e74afd1c
  404.html
  api/SUMMARY/SUMMARY.md
  api/SUMMARY/index.html
  api/celery/index.html
  api/core/index.html
  api/index.html
  api/plugins/django/index.html
  api/plugins/index.html
  api/references/index.html
  api/tracking/index.html
  api/tracking/tracking.md
  changelog/changelog.md
  changelog/index.html
  contributing/index.html
  example/index.html
  index.html
  installation/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

test: Add test for celery parallel tasks
  tests/test_task_celery_parallel.py
Due: ruff format, ruff check, bandit

Increase time for sleeping
  tests/test_task_celery_parallel.py
Due: ruff format, ruff check, bandit

test: Add test for celery parallel tasks (#8)
  tests/test_task_celery_parallel.py
Due: ruff format, ruff check, bandit

fix: Fix example
  example/libs/__init__.py
  example/libs/collectors/__init__.py
  example/libs/collectors/collector_a.py
  example/libs/collectors/collector_b.py
  example/libs/collectors/collector_base.py
  example/libs/collectors/collector_c.py
  example/libs/collectors/utils.py
  example/tasks/collectors/__init__.py
  example/tasks/collectors/collector_a.py
  example/tasks/collectors/collector_b.py
  example/tasks/collectors/collector_c.py
  poetry.lock
  pyproject.toml
Due: ruff format, ruff check, bandit

feat: Add a different function for creating tasks
  src/retsu/core.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

feat: Add method create_task to the TaskManager class
  src/retsu/core.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

chore(release): 0.1.0
  docs/changelog.md
  pyproject.toml
  src/retsu/__init__.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

Notes added by 'git notes add'
  56f72be817df2f0bf466dd5c7b6253c5e65e3580
Due: none

deploy: 07379b8da2dd3aeef4f7326e9fad8322cadd2db8
  api/core/index.html
  api/index.html
  api/references/index.html
  changelog/changelog.md
  changelog/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

fix: Fix example
  containers/compose.yaml
  example/tasks/parallel.py
  example/tasks/serial.py
Due: ruff format, ruff check, bandit

move examples for a new folder
  .makim.yaml
  examples/README.md
  examples/redis_queue_between_tasks/.gitignore
  examples/redis_queue_between_tasks/__init__.py
  examples/redis_queue_between_tasks/app.py
  examples/redis_queue_between_tasks/run.sh
  examples/redis_queue_between_tasks/settings.py
  examples/redis_queue_between_tasks/tasks/__init__.py
  examples/redis_queue_between_tasks/tasks/app.py
  examples/redis_queue_between_tasks/tasks/config.py
  examples/redis_queue_between_tasks/tasks/parallel.py
  examples/redis_queue_between_tasks/tasks/serial.py
  pyproject.toml
Due: ruff format, ruff check, bandit

fix examples
  examples/redis_queue_between_tasks/README.md
  examples/redis_queue_between_tasks/app.py
  examples/redis_queue_between_tasks/tasks/parallel.py
  examples/redis_queue_between_tasks/tasks/serial.py
  src/retsu/celery.py
  src/retsu/tracking.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

fix tests
  tests/test_task_celery_parallel.py
  tests/test_task_celery_serial.py
Due: ruff format, ruff check, bandit

fix: Fix `get` command in the result attribute, and add `get_group_tasks` (#11)
  .makim.yaml
  containers/compose.yaml
  example/tasks/parallel.py
  example/tasks/serial.py
  examples/README.md
  examples/redis_queue_between_tasks/.gitignore
  examples/redis_queue_between_tasks/README.md
  examples/redis_queue_between_tasks/__init__.py
  examples/redis_queue_between_tasks/app.py
  examples/redis_queue_between_tasks/run.sh
  examples/redis_queue_between_tasks/settings.py
  examples/redis_queue_between_tasks/tasks/__init__.py
  examples/redis_queue_between_tasks/tasks/app.py
  examples/redis_queue_between_tasks/tasks/config.py
  examples/redis_queue_between_tasks/tasks/parallel.py
  examples/redis_queue_between_tasks/tasks/serial.py
  pyproject.toml
  src/retsu/celery.py
  src/retsu/tracking.py
  tests/test_task_celery_parallel.py
  tests/test_task_celery_serial.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

chore(release): 0.1.1
  docs/changelog.md
  pyproject.toml
  src/retsu/__init__.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

Notes added by 'git notes add'
  67e208e626002585bbdbf92913511cba04af7c80
Due: none

deploy: ff293346b08c3c63d410830e4c68cd9ad428e78f
  api/celery/index.html
  api/index.html
  api/references/index.html
  api/tracking/index.html
  changelog/changelog.md
  changelog/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

feat: Use redis for queues
  examples/redis_queue_between_tasks/tasks/__init__.py
  examples/redis_queue_between_tasks/tasks/parallel.py
  examples/redis_queue_between_tasks/tasks/serial.py
  src/retsu/__init__.py
  src/retsu/celery.py
  src/retsu/core.py
  tests/test_task_celery_parallel.py
  tests/test_task_celery_serial.py
  tests/test_task_parallel.py
  tests/test_task_serial.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

fix issues with test
  docs/changelog.md
  examples/redis_queue_between_tasks/app.py
  examples/redis_queue_between_tasks/tasks/__init__.py
  src/retsu/__init__.py
  src/retsu/core.py
  src/retsu/plugins/django.py
  src/retsu/queues.py
  src/retsu/results.py
  tests/conftest.py
  tests/test_task_celery_parallel.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

feat: Use redis for queues (#13)
  docs/changelog.md
  examples/redis_queue_between_tasks/app.py
  examples/redis_queue_between_tasks/tasks/__init__.py
  examples/redis_queue_between_tasks/tasks/parallel.py
  examples/redis_queue_between_tasks/tasks/serial.py
  src/retsu/__init__.py
  src/retsu/celery.py
  src/retsu/core.py
  src/retsu/plugins/django.py
  src/retsu/queues.py
  src/retsu/results.py
  tests/conftest.py
  tests/test_task_celery_parallel.py
  tests/test_task_celery_serial.py
  tests/test_task_parallel.py
  tests/test_task_serial.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

Notes added by 'git notes add'
  e0cb40caf41d6c14215e5e708f5e174d362cceb1
Due: none

chore(release): 0.2.0
  docs/changelog.md
  pyproject.toml
  src/retsu/__init__.py
Due: ruff format, ruff check, mypy, bandit, vulture, mccabe

deploy: 750fb6b71300b0b40831f6e8917d324edb58592a
  404.html
  api/SUMMARY/SUMMARY.md
  api/celery/index.html
  api/core/index.html
  api/index.html
  api/plugins/django/index.html
  api/plugins/index.html
  api/queues/index.html
  api/queues/queues.md
  api/references/index.html
  api/results/index.html
  api/results/results.md
  api/tracking/tracking.md
  changelog/changelog.md
  changelog/index.html
  contributing/index.html
  example/index.html
  index.html
  installation/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Add workflow example using redis
  examples/workflow/app.py
  examples/workflow/celery_qeue.py
  examples/workflow/run.sh
  examples/workflow/tasks/__init__.py
  examples/workflow/tasks/libs/back_cleaning.py
  examples/workflow/tasks/libs/back_clustering.py
  examples/workflow/tasks/libs/back_plotting.py
  examples/workflow/tasks/libs/back_preparing.py
  examples/workflow/tasks/libs/back_preprocessing.py
  examples/workflow/tasks/libs/back_process.py
Due: ruff format, ruff check, bandit

Implement collectors for executing in parallel tasks
  examples/redis_queue_gathering_serial_task/app.py
  examples/redis_queue_gathering_serial_task/tasks/__init__.py
  examples/redis_queue_gathering_serial_task/tasks/app.py
  examples/redis_queue_gathering_serial_task/tasks/libs/collectors/__init__.py
  examples/redis_queue_gathering_serial_task/tasks/libs/collectors/arxiv.py
  examples/redis_queue_gathering_serial_task/tasks/serial.py
Due: ruff format, ruff check, bandit

Fix typo and Rename example
  examples/redis_queue_gathering_serial_task/app.py
  examples/redis_queue_gathering_serial_task/celery_app.py
  examples/redis_queue_gathering_serial_task/run.sh
  examples/redis_queue_gathering_serial_task/tasks/__init__.py
  examples/redis_queue_gathering_serial_task/tasks/libs/back_cleaning.py
  examples/redis_queue_gathering_serial_task/tasks/libs/back_clustering.py
  examples/redis_queue_gathering_serial_task/tasks/libs/back_plotting.py
  examples/redis_queue_gathering_serial_task/tasks/libs/back_preparing.py
  examples/redis_queue_gathering_serial_task/tasks/libs/back_preprocessing.py
  examples/redis_queue_gathering_serial_task/tasks/libs/back_process.py
Due: ruff format, ruff check, bandit

feat: Add logic to handle timeouts and Ensure all tasks are finished
  examples/workflow/app.py
  examples/workflow/tasks/__init__.py
Due: ruff format, ruff check, bandit

Refactore the steps logic to continuing the research
  examples/redis_queue_gathering_serial_task/app.py
  examples/redis_queue_gathering_serial_task/tasks/libs/back_cleaning.py
  examples/redis_queue_gathering_serial_task/tasks/libs/back_clustering.py
  examples/redis_queue_gathering_serial_task/tasks/libs/back_process.py
Due: ruff format, ruff check, bandit

Implement all collectors
  examples/redis_queue_gathering_serial_task/app.py
  examples/redis_queue_gathering_serial_task/tasks/__init__.py
  examples/redis_queue_gathering_serial_task/tasks/app.py
  examples/redis_queue_gathering_serial_task/tasks/get_back_process.py
  examples/redis_queue_gathering_serial_task/tasks/get_max_article.py
  examples/redis_queue_gathering_serial_task/tasks/libs/collectors/biorxiv.py
  examples/redis_queue_gathering_serial_task/tasks/libs/collectors/embase.py
  examples/redis_queue_gathering_serial_task/tasks/libs/collectors/medrxiv.py
  examples/redis_queue_gathering_serial_task/tasks/libs/collectors/pmc.py
  examples/redis_queue_gathering_serial_task/tasks/libs/collectors/pubmed.py
  examples/redis_queue_gathering_serial_task/tasks/libs/collectors/wos.py
Due: ruff format, ruff check, bandit
